/* 전체 컨테이너 스타일 */
.edit-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* 제목 스타일 */
  .edit-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* 폼 스타일 */
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  /* 라벨 스타일 */
  .edit-label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  }
  
  /* 인풋 필드 스타일 */
  .edit-input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }
  
  .edit-input:focus {
    border-color: #6200ea;
    outline: none;
  }
  
  /* 버튼 스타일 */
  .edit-submit-button {
    padding: 12px;
    background-color: #6200ea;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-submit-button:hover {
    background-color: #3700b3;
  }
  
  .edit-title{
    margin: 10px;
  }