body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #e0e0e0;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 추가: 세로 중앙 정렬 */
}

.add-to-favorite-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-favorite-button:hover {
  background-color: #0056b3;
}

.search-bar-list {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.pagination {
  display: flex;
  gap: 10px; /* 버튼 간의 간격 조정 */
}

.page-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.page-button:hover {
  background-color: #0056b3;
}

.page-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pagination-info {
  margin: 10px 0; /* 페이지 정보와 리스트 간의 간격 조정 */
  font-size: 15px;
  text-align: right;
}

/* 추가된 스타일 */
.restaurant-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px; /* 카드의 높이 */
}

.card-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-title {
  margin: 0;
}

.card-text {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
  gap: 10px; /* 버튼 간의 간격 */
}
